.calc-page {
    nav {
        position: relative;
        top: 85px;
        left: 23px;
        a {
            font-size: 18px;
            color: $primaryColor;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            text-decoration: none;
        }
    }
    footer {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-top: 30px;
        padding-bottom: 20px;
        min-height: 100px;
        background-color: $primaryColor;
        font-family: "Bebas Neue", sans-serif;
        color: #fff;
    }
}

.calc-content {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    margin-top: 25px;
    .devices-table {
        table {
            margin-top: 125px;
            margin-left: 30px;
            border-collapse: collapse;
            tr {
                border-bottom: 1px solid #c1c1c1;
            }
            tr:first-child {
                border: 0px;
            }
            tr:last-child {
                border: 0px;
                td:first-child {
                    text-align: start;
                }
            }
            th {
                padding: 5px 20px;
                color: $secondaryColor;
                font-size: 14px;
                font-weight: 800;
            }
            td {
                text-align: center;
                font-size: 13px;
                padding: 10px 0px;
                color: rgb(77, 77, 77);
                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    li {
                        margin: 5px 0;
                    }
                }
                input {
                    width: 35px;
                    padding: 5px 3px;
                    border-radius: 3px;
                    border: 1px solid #777777;
                    text-align: center;
                    color: rgb(78, 78, 78);
                }
            }
            td:first-child {
                input {
                    width: 90%;
                    text-align: start;
                }
            }
            td:nth-last-child(-n+3) {
                color: #000;
                font-weight: 600;
                font-size: 14px;
            }
        }
    }

    
}

.show-result {
    margin: 45px 0;
    border: 7px solid $primaryColor;
    text-align: center;
    padding: 30px 0px;
    h1 {
        font-size: 36px;
        letter-spacing: 1.5px;
        color: $primaryColor;
        font-family: "Bebas Neue", sans-serif;
        text-transform: uppercase;

        span {
            color: $contrastColor;
        }
    }
}