* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.icon {
    &.-large {
        font-size: 48px;
        margin-bottom: 5px;
        color: $primaryColor;
    }
}