.landing-page {
    background-color: $primaryColor;
    width: 100%;
    margin: 0 auto;
    color: #fff;

    .introduction-text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        
        h1 {
            width: 410px;
            font-family: "Agency FB", sans-serif;
            text-transform: uppercase;
            font-size: 54px;
            letter-spacing: 5.8px;
        }
        p {
            width: 410px;
            text-align: justify;
            font-family: "Roboto", serif;
            font-weight: 400;
            letter-spacing: 1px;
            font-size: 14px;
            line-height: 22px;
        }
    }
    .welcome {
        display: flex;
        justify-content: space-around;
        margin-bottom: 140px;
    }

    .info {
        font-family: "Agency FB", sans-serif;

        header {
            display: flex;
            justify-content: space-between;
            border-bottom: 10px solid $contrastColor;
            color: $contrastColor;

            h2 {
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 34px;
            }

            select {
                border: 0px;
                background-color: rgba(0, 0, 0, 0);
                color: #fff;
                font-size: 30px;
                font-family: "Agency FB", sans-serif;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 2px;

                option {
                    background-color: $secondaryColor;
                    border: 1px solid #fff;
                }
            }
        }

        .rates {
            display: flex;
            justify-content: space-between;

            .rate-title {
                margin: 50px 0;
                border-bottom: 5px solid #fff;

                h1 {
                    font-size: 45px;
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
                }
            }

            .rate-content {
                ul {
                    li {
                        margin-bottom: 30px;
                        padding-bottom: 30px;
                        border-bottom: 2px solid $secondaryColor;
                    }
                    li:last-child {
                        border-bottom: 0px;
                    }
                }
                h3 {
                    
                    font-size: 30px;
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
                    margin-bottom: 30px;
                }
                .range-price {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;

                    p {
                        font-size: 21px;
                        color: $secondaryColor;
                        font-weight: 600;
                    }

                    h1 {
                        font-size: 50px;
                        line-height: 50px;
                        color: $contrastColor;
                    }
                }
            }
        }
    }

    button {
        width: 410px;
        background-color: $contrastColor;
        font-family: "Roboto";
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1.02px;
        padding: 20px 0;
        border-radius: 3px;
        border-top: 0;
        border-left: 0;
        border-color: #fdcb2e;
    }

    footer {
        margin-top: 150px;
        padding-top: 350px;
        min-height: 200px;
        background-image: url("../img/buildings.png");
    }
}