<div class="calc-page" ng-controller="calcController">
    <div class="modal">
        <div class="instructions">
            <button ng-click="closeModal()" class="close-modal">X</button>
            <h2>Como calcular sua tarifa</h2>
            <div>
                <p>1º Selecione a sua companhia elétrica, este passo é muito importante pois cada companhia tem os seus horários
                    e as respectivas taxas.</p>
                <p>2º Nosso sistema já conta com uma variedade de aparelhos para facilitar o seu calculo. Edite ou exclua os
                    itens que não deseja na sua lista. Para editar algo, basta clicar em cima do campo desejado, para deletar
                    clique na lixeira do lado direito.</p>
                <p>3º Adicione aparelhos preenchendo o formulário ao final da tabela. Caso não haja nenhuma sugestão para o
                    item que deseja, basta preencher todos os campos normalmente e clicar no botão + ao final do formulário.
                    </p>
                <p>4º Fique atento as medidas de unidade, elas são fundamentais para que o seu calculo fique o mais próximo
                    possivel da realidade.</p>
                <p>5º O resultado é gerado automaticamente, e você pode acompanhar a soma no campo de totalidade.</p>
                <p>6º Aproveite e compartilhe o sistema!</p>
            </div>
            <a ng-click="closeModal()">
                <button>Clique aqui para simular sua conta</button>
            </a>
        </div>
    </div>
    <header>.
        <div class="container -row">
            <a ui-sref="calculo"><img src="../img/logo.png" alt="Senai SP Logo"></a>
            <nav>
                <ul>
                    <li>
                        <a ui-sref="landing">Inicio</a>
                    </li>
                    <li>
                        <a href="http://www.sp.senai.br/">Senai</a>
                    </li>
                    <li ng-click="openModal()">
                        <a>Instruções</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="select-company">
            <div class="select-container">
                <span>Selecione a sua companhia:</span>
                <select name="company" id="company">
                    <option value="Eletropaulo">Eletropaulo</option>
                    <option value="Light">Light</option>
                    <option value="AES">AES</option>
                </select>
            </div>
        </div>
        <div class="calc-content">
            <div class="devices-table">
                <table>
                    <tr>
                        <th>Aparelho elétrico</th>
                        <th>Potência (W)</th>
                        <th>Quantidade</th>
                        <th colspan="2">Faixas de
                            <br>horário</th>
                        <th>Tempo de
                            <br>uso(min/dia)</th>
                        <th>Preço
                            <br>tarifa comum</th>
                        <th>Preço
                            <br>tarifa branca</th>
                    </tr>
                    <tr ng-repeat="device in deviceList">
                        <td>
                            <div class="input-field">
                                <input type="text" ng-model="device.name" value="device.name">
                            </div>
                        </td>
                        <td>
                            <div class="input-field">
                                <input type="number" string-to-number ng-model="device.power">
                                <span>W</span>
                            </div>
                        </td>
                        <td>
                            <div class="input-field">
                                <input type="number" string-to-number ng-model="device.quantity">
                                <span>un</span>
                            </div>
                        </td>
                        <td colspan="2">
                            <ul>
                                <li>00:00 às 16:29/21:31 às 23:59</li>
                                <li>16:30 às 17:29/20:31 às 21:30</li>
                                <li>17:30 às 20:30</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>
                                    <div class="input-field">
                                        <input type="number" string-to-number ng-model="device.time[0]">
                                        <span>m</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="input-field">
                                        <input type="number" string-to-number ng-model="device.time[1]">
                                        <span>m</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="input-field">
                                        <input type="number" string-to-number ng-model="device.time[2]">
                                        <span>m</span>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>R$21,20</li>
                                <li>R$21,20</li>
                                <li>R$00,00</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>
                                    R$25,20
                                </li>
                                <li>
                                    R$25,20
                                </li>
                                <li>
                                    R$00,00
                                </li>
                            </ul>
                        </td>
                        <td>
                            <!-- <i class="fas fa-pencil-alt"></i>
                            <br> -->
                            <button ng-click="deleteDevice($index)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">

                        </td>
                        <td>
                            Total:
                        </td>
                        <td>
                            R$350,00
                        </td>
                        <td>R$258,00</td>
                    </tr>
                    <tr>
                        <td>
                            <input ng-model="newDevice.name" placeholder="Nome do aparelho">
                        </td>
                        <td>
                            <input ng-model="newDevice.power" placeholder="Potencia">
                        </td>
                        <td>
                            <input ng-model="newDevice.quantity" placeholder="Qtd">
                        </td>
                        <td colspan="2">
                            <ul>
                                <li>00:00 às 16:29/21:31 às 23:59</li>
                                <li>16:30 às 17:29/20:31 às 21:30</li>
                                <li>17:30 às 20:30</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>
                                    <input ng-model="newDevice.time[0]" placeholder="min">
                                </li>
                                <li>
                                    <input ng-model="newDevice.time[1]" placeholder="min">
                                </li>
                                <li>
                                    <input ng-model="newDevice.time[2]" placeholder="min">
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>+ R$21,20</li>
                                <li>+ R$21,20</li>
                                <li> +R$00,00</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>+ R$21,20</li>
                                <li>+ R$21,20</li>
                                <li> +R$00,00</li>
                            </ul>
                        </td>
                        <td>
                            <button ng-click="addDevice(newDevice)">
                                <i class="fas fa-plus-circle icon -large"></i>
                            </button>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="show-result">
            <h1>
                Mude para a
                <span>tarifa branca</span> e economize R$20,00/mês</h1>
        </div>
    </div>
    <footer>
        Copyright 2018 - todos os direitos reservados
    </footer>
</div>